<div class="contenedorrr">
    <div class="texto">
        <h3>ElectroWorld</h3>
        <p>Tu Socio Confiable en Electrodomésticos para el Hogar

        ElectroWorld se destaca como una distribuidora líder de electrodomésticos en Argentina, ofreciendo una
        amplia gama de productos innovadores y de calidad superior para satisfacer las necesidades de los hogares
        modernos. Desde su fundación, la empresa se ha comprometido con la excelencia en la oferta de una extensa
        línea de electrodomésticos, desde cocinas hasta sistemas inteligentes para el hogar.

        Productos de Calidad y Variedad:

        ElectroWorld se enorgullece de ofrecer productos de marcas reconocidas a nivel nacional e internacional. Su
        catálogo incluye desde lavadoras y secadoras de alta eficiencia energética hasta sistemas de climatización
        de última generación. Además, cuentan con una amplia selección de pequeños electrodomésticos, como
        cafeteras, licuadoras y tostadoras, diseñados para facilitar la vida diaria en el hogar.

        Red de Sucursales y Presencia Nacional:

        Con una red estratégica de sucursales en diversas ciudades y regiones de Argentina, ElectroWorld está
        comprometida en brindar un servicio cercano y accesible a sus clientes. Cada sucursal está equipada con
        personal capacitado para asesorar a los clientes y garantizar una experiencia de compra satisfactoria.
        Además, su plataforma en línea permite a los usuarios explorar su catálogo y realizar compras de manera
        conveniente desde cualquier lugar del país.

        Compromiso con la Calidad y el Servicio al Cliente:

        ElectroWorld prioriza la calidad de sus productos y el servicio al cliente. Trabajan estrechamente con
        proveedores reconocidos para garantizar la excelencia en cada electrodoméstico ofrecido, además de brindar
        asistencia postventa y garantías para asegurar la satisfacción de sus clientes.</p>

        <div class="local">
            <img src="./assets/local.jpg" alt="">
        </div>
    </div>
</div>