<div class="divimg">
    <img src="./assets/contactanoss.png" class="imagen">
</div>


<div class="contenedorfor">
    <div class="fondoformu">

        <p class="labelll">
            <mat-form-field appearance="outline">
                <mat-label>Ingresa tu Nombre</mat-label>
                <input matInput placeholder="">
                <mat-icon matSuffix>supervisor_account</mat-icon>
            </mat-form-field>
        </p>
        <p class="labelll">
            <mat-form-field appearance="outline">
                <mat-label>Ingresa tu Apellido</mat-label>
                <input matInput placeholder="">
                <mat-icon matSuffix>supervisor_account</mat-icon>
            </mat-form-field>
        </p>
        <p class="labelll">
            <mat-form-field appearance="outline">
                <mat-label>Ingresa su Correo</mat-label>
                <input matInput placeholder="ejemplo@gmail.com">
                <mat-icon matSuffix> email</mat-icon>
                        </mat-form-field>
        </p>
        <div class="boton">
        <button>Aceptar</button>

        </div >
        <hr>
        <br>
        <h3>Ubicación</h3>
        <br>
        <div class="mapa">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1551.7999784063836!2d-68.00767843089706!3d-38.93312018829351!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sar!4v1700593114979!5m2!1ses-419!2sar"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>

        </div>
    </div>
</div>