<div class="divimg">
    <img src="./assets/contactanoss.png" class="imagen">
</div>


<div class="contenedorfor">
    <div class="fondoformu">
        <p class="labelll">
            <mat-form-field appearance="outline">
                <mat-label>Ingresa tu Nombre</mat-label>
                <input matInput placeholder="">
                <mat-icon matSuffix>accessibility_new</mat-icon>
            </mat-form-field>
        </p>
        <p class="labelll">
            <mat-form-field appearance="outline">
                <mat-label>Ingresa tu Apellido</mat-label>
                <input matInput placeholder="">
                <mat-icon matSuffix>accessibility_new</mat-icon>
            </mat-form-field>
        </p>
    </div>
</div>