<div class="divbienve">
    <img src="./assets/Bienvenidosre.png" class="imagen">
</div>
<br>
<h1>Productos destacados</h1>
<mat-grid-list cols="3" rowHeight="1:1.5">
    <mat-grid-tile *ngFor="let dest of destacados">
        <mat-card  class="example-card fondocard" >
            <mat-card-header>
                <mat-card-title class="textoscard">{{dest.nombre}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image [src]=dest.img>
            <mat-card-content>
                <h2 class="textoscard">
                    {{dest.precio}}
                </h2>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button class="textoscard">Comprar</button>
                <button mat-button class="textoscard botonmas">Más</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>